* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 55, 94);
    color: pink;
}

/* Estilo do cabeçalho */
.menu {
    background-color: rgb(11, 24, 43);
    height: 120px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#titulo {
    color: palevioletred;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    transition: color 1s;
}

#titulo:hover {
    color: rgb(255, 118, 225);
}

/* Estilo do menu de navegação */
#navegacao {
    list-style: none;
    display: flex;
    gap: 20px;
}

#navegacao li {
    font-size: 1.1rem;
}

#navegacao a {
    text-decoration: none;
    color: pink;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
}

#navegacao a:hover {
    color: palevioletred;
    transform: scale(1.1);
}

/* Menu hamburguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

.menuHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
    height: 50%;
}

.foto-combo{
    width: 25%;
}
.combos{
    width: 25%;
}

.imagem {
    width: 45%;
}

.imagem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
    #navegacao {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background-color: rgb(36, 30, 34);
        flex-direction: column;
        gap: 15px;
        display: none;
        padding: 20px;
    }

    #navegacao.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    main {
        display: flex;
        height: 100vh;
    }
    
   
    
     div {
        background-color: rgb(36, 30, 34);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}

    